#body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}

#container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-box {
    background-color: rgb(200, 207, 207);
    border: 2px solid #000;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: 85%;
    gap: 20px;
    aspect-ratio: 9/16;
}

#display-box {
    background-color: aliceblue;
    height: 80px;
    width: 80%;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#display-box .writing {
    font-size: 20px;
    color: rgb(97, 95, 95);
}

#display-box .answer {  
    display: flex;
    font-size: 30px;
    flex: 1;
    align-self: flex-end;
    align-items: flex-end;
}

#button-box {
    display: flex;
    flex: 1;
    gap: 5px;
}

#number-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 8px;
    
}

#operator-buttons {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#number-buttons > .button {
    width: 30%;
    height: auto;
    border-radius: 5%;
    font-size: 24px;
    font-family: 'Rajdhani', sans-serif;
}

.button.operator, .button.clear, .button#backspace {
    background-color: rgb(107, 104, 104);
    color: #ffffff;
    font-size: 24px;
    height: 15%;
    border-radius: 50%;
    font-family: 'Rajdhani', sans-serif;
}

#footer {
    width: 100%;
    background-color: rgb(51, 48, 48) ;
    color: #ffffff;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}